name: Deploy telegram-bot

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    environment: Production
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ vars.SERVER_HOST }}
          username: ${{ vars.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            bash ~/opt/myproject/deploy.sh telegram-bot
